@font-face {
    font-family: OpenSansBold;
    src: url("../fonts/OpenSans-SemiBold.ttf");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body{
    font-family: OpenSansBold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: rgb(223, 215, 215);
    
  }


/* ---
   ---
   START
   MENU
   ---
   ---
*/

  .Start-Menu{
    background-color: rgb(43, 38, 38);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    

  }

  .Start-Menu-Tittle-Wrapper{
    grid-column: span 2;
  }
  .grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }


 .x-icon-btn, .o-icon-btn{
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: .1s linear background-color;
 }  
.x-icon-btn:hover, .o-icon-btn:hover{

  background-color: rgb(82, 75, 75);
}

/* ---
   ---
   START
   MENU
   END
   ---
   ---
*/





/* ---
   ---
   GAME
   MENU
   ---
   ---
*/

.Game-Menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.game-field{
  background-color: red;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-icon{
  font-size: 53px;
}
.x-icon{
  font-size: 64px;
}

/* ---
   ---
   GAME
   MENU
   END
   ---
   ---
*/

.not-visible{
  visibility: hidden;
  height: 0;
}


/* ---
   ---
   END
   MENU
   START
   ---
   ---
*/


.End-Menu{
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Restart-Button{
  cursor: pointer;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}

